include LICENSE.txt
include README.rst
recursive-include src/certbot_nginx/_internal/tls_configs *.conf
recursive-include src/certbot_nginx/_internal/tests/testdata *
include src/certbot_nginx/py.typed
global-exclude __pycache__
global-exclude *.py[cod]
