[run]
omit = */setup.py
source =
    acme
    certbot
    certbot-apache
    certbot-dns-cloudflare
    certbot-dns-digitalocean
    certbot-dns-dnsimple
    certbot-dns-dnsmadeeasy
    certbot-dns-gehirn
    certbot-dns-google
    certbot-dns-linode
    certbot-dns-luadns
    certbot-dns-nsone
    certbot-dns-ovh
    certbot-dns-rfc2136
    certbot-dns-route53
    certbot-dns-sakuracloud
    certbot-nginx

[report]
omit = */setup.py
show_missing = True
