*.pyc
*.egg-info/
.eggs/
build/
dist/
/venv/
/venv3/
/.tox/
letsencrypt.log

# coverage
.coverage
/htmlcov/

/.vagrant

# editor temporary files
*~
*.swp
\#*#
.idea

# auth --cert-path --chain-path
/*.pem
