*.pyc
*.egg-info/
.eggs/
build/
dist*/
/venv*/
/kgs/
/.tox/
/releases*/
/log*
letsencrypt.log
certbot.log
letsencrypt-auto-source/letsencrypt-auto.sig.lzma.base64

# coverage
.coverage
/htmlcov/

/.vagrant

tags

# editor temporary files
*~
*.sw?
\#*#
.idea
.ropeproject

# auth --cert-path --chain-path
/*.pem

# letstest
tests/letstest/letest-*/
tests/letstest/*.pem
tests/letstest/venv/

.venv

# pytest cache
.cache
.mypy_cache/
.pytest_cache/

# docker files
.docker
