language: python

cache:
    directories:
        - $HOME/.cache/pip

# This makes sure we get a host with docker-compose present.
dist: trusty

before_install:
  - 'dpkg -s libaugeas0'

# using separate envs with different TOXENVs creates 4x1 Travis build
# matrix, which allows us to clearly distinguish which component under
# test has failed
env:
  global:
    - BOULDERPATH=$PWD/boulder/

matrix:
  include:
    - python: "2.6"
      env: TOXENV=py26 BOULDER_INTEGRATION=1
      sudo: true
      after_failure:
        - sudo cat /var/log/mysql/error.log
        - ps aux | grep mysql
    - python: "2.6"
      env: TOXENV=py26-oldest BOULDER_INTEGRATION=1
      sudo: true
      after_failure:
        - sudo cat /var/log/mysql/error.log
        - ps aux | grep mysql
    - python: "2.7"
      env: TOXENV=apacheconftest
      sudo: required
    - python: "2.7"
      env: TOXENV=py27 BOULDER_INTEGRATION=1
      sudo: true
      after_failure:
        - sudo cat /var/log/mysql/error.log
        - ps aux | grep mysql
    - python: "2.7"
      env: TOXENV=py27-oldest BOULDER_INTEGRATION=1
      sudo: true
      after_failure:
        - sudo cat /var/log/mysql/error.log
        - ps aux | grep mysql
    - python: "2.7"
      env: TOXENV=lint
    - sudo: required
      env: TOXENV=le_auto
      services: docker
      before_install:
      addons:
    - python: "2.7"
      env: TOXENV=cover
    - python: "3.3"
      env: TOXENV=py33
    - python: "3.4"
      env: TOXENV=py34
    - python: "3.5"
      env: TOXENV=py35

# Only build pushes to the master branch, PRs, and branches beginning with
# `test-`. This reduces the number of simultaneous Travis runs, which speeds
# turnaround time on review since there is a cap of 5 simultaneous runs.
branches:
  only:
    - master
    - /^test-.*$/

# container-based infrastructure
sudo: false

addons:
  # Custom /etc/hosts required for simple verification of http-01
  # and tls-sni-01, and for certbot_test_nginx
  hosts:
    - le.wtf
    - le1.wtf
    - le2.wtf
    - le3.wtf
    - nginx.wtf
    - boulder
    - boulder-mysql
    - boulder-rabbitmq
  apt:
    sources:
    - augeas
    packages:  # Keep in sync with letsencrypt-auto-source/pieces/bootstrappers/deb_common.sh and Boulder.
    - python-dev
    - python-virtualenv
    - gcc
    - dialog
    - libaugeas0
    - libssl-dev
    - libffi-dev
    - ca-certificates
    # For certbot-nginx integration testing
    - nginx-light
    - openssl
    # for apacheconftest
    - apache2
    - libapache2-mod-wsgi
    - libapache2-mod-macro
    - sudo

install: "travis_retry pip install tox coveralls"
script: 'travis_retry tox && ([ "xxx$BOULDER_INTEGRATION" = "xxx" ] || ./tests/travis-integration.sh)'

after_success: '[ "$TOXENV" == "cover" ] && coveralls'

notifications:
  email: false
  irc:
    channels:
      - "chat.freenode.net#letsencrypt"
    on_success: never
    on_failure: always
    use_notice: true
    skip_join: true
