language: python

cache:
    directories:
        - $HOME/.cache/pip

before_install:
  # In the test-everything branch, we merge master before running tests.
  # This is because we want test-everything to test the code in master nightly
  # in a Travis cron, but with a different set of tests than master has
  # in .travis.yml.
  - cp .travis.yml /tmp/travis.yml
  - git pull origin master --strategy=recursive --strategy-option=theirs --no-edit
  - if ! git diff .travis.yml /tmp/travis.yml ; then echo "Please merge master into test-everything"; exit 1; fi
  - '([ $TRAVIS_OS_NAME == linux ] && dpkg -s libaugeas0) || (brew update && brew install augeas && brew upgrade python python3 && brew link python)'

before_script:
  - 'if [ $TRAVIS_OS_NAME = osx ] ; then ulimit -n 1024 ; fi'

matrix:
  include:
    - python: "2.7"
      env: TOXENV=cover FYI="this also tests py27"
    - python: "2.7"
      env: TOXENV=lint
    - python: "2.7"
      env: TOXENV=py27-nginx-oldest BOULDER_INTEGRATION=v1
      sudo: required
      services: docker
    - python: "2.7"
      env: TOXENV=py27-nginx-oldest BOULDER_INTEGRATION=v2
      sudo: required
      services: docker
    - python: "2.7"
      env: TOXENV=py27_install BOULDER_INTEGRATION=v2
      sudo: required
      services: docker
    - python: "2.7"
      env: TOXENV=py27_install BOULDER_INTEGRATION=v1
      sudo: required
      services: docker
    - python: "2.7"
      env: TOXENV='py27-{acme,apache,certbot,dns}-oldest'
    - sudo: required
      env: TOXENV=apache_compat
      services: docker
    - sudo: required
      env: TOXENV=nginx_compat
      services: docker
    - sudo: required
      env: TOXENV=le_auto_precise
      services: docker
    - sudo: required
      env: TOXENV=le_auto_trusty
      services: docker
    - sudo: required
      env: TOXENV=le_auto_wheezy
      services: docker
    - sudo: required
      env: TOXENV=le_auto_centos6
      services: docker
    - sudo: required
      env: TOXENV=docker_dev
      services: docker
      addons:
        apt:
          packages:  # don't install nginx and apache
          - libaugeas0
    - python: "2.7"
      env: TOXENV=apacheconftest
      sudo: required
    - python: "3.4"
      env: TOXENV=py34 BOULDER_INTEGRATION=v1
      sudo: required
      services: docker
    - python: "3.4"
      env: TOXENV=mypy
    - python: "3.5"
      env: TOXENV=mypy
    - python: "3.4"
      env: TOXENV=py34 BOULDER_INTEGRATION=v2
      sudo: required
      services: docker
    - python: "3.5"
      env: TOXENV=py35 BOULDER_INTEGRATION=v1
      sudo: required
      services: docker
    - python: "3.5"
      env: TOXENV=py35 BOULDER_INTEGRATION=v2
      sudo: required
      services: docker
    - python: "3.6"
      env: TOXENV=py36 BOULDER_INTEGRATION=v1
      sudo: required
      services: docker
    - python: "3.6"
      env: TOXENV=py36 BOULDER_INTEGRATION=v2
      sudo: required
      services: docker
    - python: "3.7"
      dist: xenial
      env: TOXENV=py37
      sudo: required
      services: docker
    - python: "2.7"
      env: TOXENV=nginxroundtrip
    - language: generic
      env: TOXENV=py27
      os: osx
    - language: generic
      env: TOXENV=py37
      os: osx


# Only build pushes to the master branch, PRs, and branches beginning with
# `test-` or of the form `digit(s).digit(s).x`. This reduces the number of
# simultaneous Travis runs, which speeds turnaround time on review since there
# is a cap of on the number of simultaneous runs.
branches:
  only:
    - master
    - /^\d+\.\d+\.x$/
    - /^test-.*$/

# container-based infrastructure
sudo: false

addons:
  apt:
    packages:  # Keep in sync with letsencrypt-auto-source/pieces/bootstrappers/deb_common.sh and Boulder.
    - python-dev
    - python-virtualenv
    - gcc
    - libaugeas0
    - libssl-dev
    - libffi-dev
    - ca-certificates
    # For certbot-nginx integration testing
    - nginx-light
    - openssl

install: "travis_retry $(command -v pip || command -v pip3) install tox coveralls"
script:
    - travis_retry tox
    - '[ -z "${BOULDER_INTEGRATION+x}" ] || (travis_retry tests/boulder-fetch.sh && tests/tox-boulder-integration.sh)'

after_success: '[ "$TOXENV" == "cover" ] && coveralls'

notifications:
  email: false
  irc:
    channels:
      - secure: "SGWZl3ownKx9xKVV2VnGt7DqkTmutJ89oJV9tjKhSs84kLijU6EYdPnllqISpfHMTxXflNZuxtGo0wTDYHXBuZL47w1O32W6nzuXdra5zC+i4sYQwYULUsyfOv9gJX8zWAULiK0Z3r0oho45U+FR5ZN6TPCidi8/eGU+EEPwaAw="
    on_cancel: never
    on_success: never
    on_failure: always
    use_notice: true
