jobs:
  - job: test
    variables:
      PYTHON_VERSION: 3.10
    strategy:
      matrix:
        macos-py37-cover:
          IMAGE_NAME: macOS-10.15
          PYTHON_VERSION: 3.7
          TOXENV: py37-cover
        macos-py310-cover:
          IMAGE_NAME: macOS-10.15
          PYTHON_VERSION: 3.10
          TOXENV: py310-cover
        windows-py37:
          IMAGE_NAME: windows-2019
          PYTHON_VERSION: 3.7
          TOXENV: py37-win
        windows-py39-cover:
          IMAGE_NAME: windows-2019
          PYTHON_VERSION: 3.9
          TOXENV: py39-cover-win
        windows-integration-certbot:
          IMAGE_NAME: windows-2019
          PYTHON_VERSION: 3.9
          TOXENV: integration-certbot
        linux-oldest-tests-1:
          IMAGE_NAME: ubuntu-22.04
          PYTHON_VERSION: 3.7
          TOXENV: '{acme,apache,apache-v2,certbot}-oldest'
        linux-oldest-tests-2:
          IMAGE_NAME: ubuntu-22.04
          PYTHON_VERSION: 3.7
          TOXENV: '{dns,nginx}-oldest'
        linux-py37:
          IMAGE_NAME: ubuntu-22.04
          PYTHON_VERSION: 3.7
          TOXENV: py37
        linux-py310-cover:
          IMAGE_NAME: ubuntu-22.04
          PYTHON_VERSION: 3.10
          TOXENV: py310-cover
        linux-py310-lint:
          IMAGE_NAME: ubuntu-22.04
          PYTHON_VERSION: 3.10
          TOXENV: lint-posix
        linux-py310-mypy:
          IMAGE_NAME: ubuntu-22.04
          PYTHON_VERSION: 3.10
          TOXENV: mypy-posix
        linux-integration:
          IMAGE_NAME: ubuntu-22.04
          PYTHON_VERSION: 3.8
          TOXENV: integration
          ACME_SERVER: pebble
        apache-compat:
          IMAGE_NAME: ubuntu-22.04
          TOXENV: apache_compat
        apacheconftest:
          IMAGE_NAME: ubuntu-22.04
          TOXENV: apacheconftest-with-pebble
        nginxroundtrip:
          IMAGE_NAME: ubuntu-22.04
          TOXENV: nginxroundtrip
    pool:
      vmImage: $(IMAGE_NAME)
    steps:
      - template: ../steps/tox-steps.yml
  - job: test_sphinx_builds
    pool:
      vmImage: ubuntu-20.04
    steps:
      - template: ../steps/sphinx-steps.yml
