jobs:
  - job: test
    variables:
      PYTHON_VERSION: 3.9
    strategy:
      matrix:
        macos-py36:
          IMAGE_NAME: macOS-10.15
          PYTHON_VERSION: 3.6
          TOXENV: py36
        macos-py39:
          IMAGE_NAME: macOS-10.15
          PYTHON_VERSION: 3.9
          TOXENV: py39
        windows-py36:
          IMAGE_NAME: vs2017-win2016
          PYTHON_VERSION: 3.6
          TOXENV: py36-win
        windows-py38-cover:
          IMAGE_NAME: vs2017-win2016
          PYTHON_VERSION: 3.8
          TOXENV: py38-cover-win
        windows-integration-certbot:
          IMAGE_NAME: vs2017-win2016
          PYTHON_VERSION: 3.8
          TOXENV: integration-certbot
        linux-oldest-tests-1:
          IMAGE_NAME: ubuntu-18.04
          PYTHON_VERSION: 3.6
          TOXENV: '{acme,apache,apache-v2,certbot}-oldest'
        linux-oldest-tests-2:
          IMAGE_NAME: ubuntu-18.04
          PYTHON_VERSION: 3.6
          TOXENV: '{dns,nginx}-oldest'
        linux-py36:
          IMAGE_NAME: ubuntu-18.04
          PYTHON_VERSION: 3.6
          TOXENV: py36
        linux-py39-cover:
          IMAGE_NAME: ubuntu-18.04
          PYTHON_VERSION: 3.9
          TOXENV: py39-cover
        linux-py39-lint:
          IMAGE_NAME: ubuntu-18.04
          PYTHON_VERSION: 3.9
          TOXENV: lint-posix
        linux-py39-mypy:
          IMAGE_NAME: ubuntu-18.04
          PYTHON_VERSION: 3.9
          TOXENV: mypy-posix
        linux-integration:
          IMAGE_NAME: ubuntu-18.04
          PYTHON_VERSION: 3.8
          TOXENV: integration
          ACME_SERVER: pebble
        apache-compat:
          IMAGE_NAME: ubuntu-18.04
          TOXENV: apache_compat
        apacheconftest:
          IMAGE_NAME: ubuntu-18.04
          PYTHON_VERSION: 3.6
          TOXENV: apacheconftest-with-pebble
        nginxroundtrip:
          IMAGE_NAME: ubuntu-18.04
          PYTHON_VERSION: 3.6
          TOXENV: nginxroundtrip
    pool:
      vmImage: $(IMAGE_NAME)
    steps:
      - template: ../steps/tox-steps.yml
  - job: test_sphinx_builds
    pool:
      vmImage: ubuntu-20.04
    steps:
      - template: ../steps/sphinx-steps.yml
