jobs:
  - job: test
    variables:
      PYTHON_VERSION: 3.9
    strategy:
      matrix:
        macos-py36:
          IMAGE_NAME: macOS-10.15
          PYTHON_VERSION: 3.6
          TOXENV: py36
        macos-py39:
          IMAGE_NAME: macOS-10.15
          PYTHON_VERSION: 3.9
          TOXENV: py39
        windows-py36:
          IMAGE_NAME: vs2017-win2016
          PYTHON_VERSION: 3.6
          TOXENV: py36
        windows-py38-cover:
          IMAGE_NAME: vs2017-win2016
          PYTHON_VERSION: 3.8
          TOXENV: py38-cover
        linux-py39-cover:
          IMAGE_NAME: ubuntu-18.04
          PYTHON_VERSION: 3.9
          TOXENV: py39-cover
    pool:
      vmImage: $(IMAGE_NAME)
    steps:
      - template: ../steps/tox-steps.yml
  - job: test_sphinx_builds
    pool:
      vmImage: ubuntu-20.04
    steps:
      - template: ../steps/sphinx-steps.yml
