jobs:
  - job: test
    variables:
      PYTHON_VERSION: 3.14
    strategy:
      matrix:
        linux-integration:
          IMAGE_NAME: ubuntu-22.04
          TOXENV: integration
    pool:
      vmImage: $(IMAGE_NAME)
    steps:
      - template: ../steps/tox-steps.yml
  - job: test_sphinx_builds
    pool:
      vmImage: ubuntu-22.04
    steps:
      - template: ../steps/sphinx-steps.yml
