jobs:
  - job: test
    variables:
      PYTHON_VERSION: 3.12
    strategy:
      matrix:
        macos-cover:
          IMAGE_NAME: macOS-15
          TOXENV: cover
          # As of pip 23.1.0, builds started failing on macOS unless this flag was set.
          # See https://github.com/certbot/certbot/pull/9717#issuecomment-1610861794.
          PIP_USE_PEP517: "true"
    pool:
      vmImage: $(IMAGE_NAME)
    steps:
      - template: ../steps/tox-steps.yml
  - job: test_sphinx_builds
    pool:
      vmImage: ubuntu-22.04
    steps:
      - template: ../steps/sphinx-steps.yml
