steps:
  - bash: |
      FINAL_STATUS=0
      declare -a FAILED_BUILDS
      python3 -m venv .venv
      source .venv/bin/activate
      python tools/pipstrap.py
      for doc_path in */docs
      do
        echo ""
        echo "##[group]Building $doc_path"
        tools/pip_install_editable.py $doc_path/..[docs]
        if ! sphinx-build -W --keep-going -b html $doc_path $doc_path/_build/html; then
          FINAL_STATUS=1
          FAILED_BUILDS[${#FAILED_BUILDS[@]}]="${doc_path%/docs}"
        fi
        echo "##[endgroup]"
      done
      if [[ $FINAL_STATUS -ne 0 ]]; then
        echo "##[error]The following builds failed: ${FAILED_BUILDS[*]}"
        exit 1
      fi
    displayName: Build Sphinx Documentation
