Source: letsencrypt
Section: python
Priority: optional
Maintainer: Debian letsencrypt <letsencrypt-devel@lists.alioth.debian.org>
Uploaders: Francois Marier <francois@debian.org>
Build-Depends: debhelper (>= 9), python-all (>= 2.5), python-setuptools
Standards-Version: 3.9.3
XS-Python-Version: >= 2.6
Homepage: https://www.letsencrypt.org/

Package: letsencrypt
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-setuptools, python-dialog, apache2, openssl, hashcash
Description: one-line description
 Long description here
 .
 More description
