Source: letsencrypt
Section: web
Priority: optional
Maintainer: Debian letsencrypt <letsencrypt-devel@lists.alioth.debian.org>
Uploaders: Francois Marier <francois@debian.org>
Build-Depends: debhelper (>= 9), python-all, dh-python, python-nose, python-nosexcover, python-tox, python-docutils, python-sphinx, python-sphinx-rtd-theme, python-repoze.sphinx.autointerface
Standards-Version: 3.9.6
Homepage: https://www.letsencrypt.org/

Package: letsencrypt
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, apache2, openssl, python-m2crypto, python-zope.component, python-augeas, python-psutil, python-jsonschema, python-requests, python-openssl, python-crypto, python-mock, python-confargparse, python-dialog
Suggests: letsencrypt-doc
Description: Let's Encrypt client that can update Apache configurations (client)
 The objective of Let's Encrypt and the ACME (Automated Certificate Management
 Environment) protocol is to make it possible to set up an HTTPS server and have
 it automatically obtain a browser-trusted certificate, without any human
 intervention. This is accomplished by running a certificate management agent on
 the web server.
 .
 This agent is used to:
 .
  - Automatically prove to the Let's Encrypt CA that you control the website
  - Obtain a browser-trusted certificate and set it up on your web server
  - Keep track of when your certificate is going to expire, and renew it
  - Help you revoke the certificate if that ever becomes necessary.
 .
 This package contains the client.

Package: letsencrypt-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libjs-modernizr
Description: Let's Encrypt client that can update Apache configurations (docs)
 The objective of Let's Encrypt and the ACME (Automated Certificate Management
 Environment) protocol is to make it possible to set up an HTTPS server and have
 it automatically obtain a browser-trusted certificate, without any human
 intervention. This is accomplished by running a certificate management agent on
 the web server.
 .
 This agent is used to:
 .
  - Automatically prove to the Let's Encrypt CA that you control the website
  - Obtain a browser-trusted certificate and set it up on your web server
  - Keep track of when your certificate is going to expire, and renew it
  - Help you revoke the certificate if that ever becomes necessary.
 .
 This package contains the documentation.
