#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python2,sphinxdoc

override_dh_clean:
	dh_auto_clean
	cd $(CURDIR)
	rm -rf build/ acme/build/ letsencrypt-apache/build/ letsencrypt-nginx/build

override_dh_auto_build:
	set -ex; for dir in acme . letsencrypt-apache letsencrypt-nginx; do \
		cd $(CURDIR)/$$dir; \
		python2.7 setup.py build; \
		python2.7 setup.py install --single-version-externally-managed --root=$(CURDIR)/debian/tmp/$$dir --install-layout=deb; \
	done
	sphinx-build -N -b html docs $(CURDIR)/debian/doc-build/html
	sphinx-build -N -b man docs $(CURDIR)/debian/doc-build/man

override_dh_auto_test:
	ln -s $(CURDIR)/acme/acme/testdata $(CURDIR)/debian/tmp/acme/usr/lib/python2.7/dist-packages/acme/
	set -ex; for suite in acme letsencrypt letsencrypt-apache letsencrypt-nginx; do \
		cd $(CURDIR); \
		PYTHONPATH=$(shell find $(CURDIR)/debian/tmp -type d -name dist-packages | tr "\n" ":") python /usr/bin/nosetests $$suite; \
	done

override_dh_prep:
	# Unfortunately, dh_prep will delete things that we don't want it to.
	# Since we're doing steps in the wrong order, we can't safely delete debian/tmp
	echo "Not cleaning."

override_dh_auto_install:
	find $(CURDIR)/debian/tmp -type d -name tests -print0 | xargs -0 rm -rf
	rm $(CURDIR)/debian/tmp/acme/usr/lib/python2.7/dist-packages/acme/testdata
	dh_auto_install
