include LICENSE.txt
include README.rst
recursive-include tests *
recursive-include certbot_apache/_internal/augeas_lens *.aug
recursive-include certbot_apache/_internal/tls_configs *.conf
include certbot_apache/py.typed
global-exclude __pycache__
global-exclude *.py[cod]
