#
# OpenSSL configuration file.
#

# Extra OBJECT IDENTIFIER info:
oid_section				= new_oids

[ new_oids ]
choc=1.3.3.7
 

[ v3_ca ]
basicConstraints			= CA:TRUE
subjectKeyIdentifier			= hash
authorityKeyIdentifier			= keyid:always,issuer:always
1.3.3.7=critical, DER:9720ED6B02437C2F421CF3B25565551ED253D0270F006186EE1CD4BCF82F4230abc36d4012e5b4842ba0a1011171419ff7d27ba523e24116d7ecefe9253a943f
